# application-local.yml
spring:
  data:
    mongodb:
      uri: mongodb+srv://<user>:<password>@<host>/<database>?retryWrites=true&w=majority

logging:
  level:
    root: DEBUG # Nivel de log para toda la aplicación
    com.example: DEBUG # Nivel de log específico
  file:
    name: logs/application.log
